.footer {
	margin-top: 2rem;
	padding: 1em 0;
	background-color: var(--bg-second);
	&__autor {
		text-align: center;
	}
	&__networks {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__networks a {
		padding: 0.5rem 0.5rem;
		display: inline-block;
		width: 50px;
		text-align: center;
		margin-left: 0.5rem;
	}
}
