.main {
	& .group {
		padding: 0 1.5rem;
	}
}
.sobre-mi {
	text-align: center;
	&__picture {
		width: 150px;
		margin-left: auto;
		margin-right: auto;
		opacity: 0.5;
		transition: opacity 0.3s;
		&:hover {
			opacity: 1;
		}
		@media screen and (min-width: 768px) {
			flex: 50%;
		}
	}
	&__image {
		border-radius: 50%;
		display: inline-block;
	}
	&__title {
		text-decoration: underline;
		@media screen and (min-width: 768px) {
			font-size: 2.2em;
		}
	}
	&__biography {
		@media screen and (min-width: 768px) {
			flex: auto;
			margin-left: 1em;
		}
	}

	@media screen and (min-width: 678px) {
		&__card {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
