:root {
	// Fonts
	--title-font: 'Open Sans';
	--main-font: 'PT Sans';

	// Colors
	--bg-primary: #181818;
	--text-color: #eeeeee;

	// Otros
	--bg-second: #444444;
	--color: #0b93fb;
	--color-hover: #0a6ee7;
}
